.editor {
  /* Padding to FormLayout as there is not yet a Java API for it */
  padding: var(--lumo-space-m);
}

.editor vaadin-checkbox {
  /* CheckBox padding in FormLayout looks weird without
   * this as other fields have a caption on top of them */
  padding-top: var(--lumo-space-m);
}

.button-layout {
  /* Style buttons into a slightly gray bar */
  background-color: var(--lumo-contrast-5pct);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  width: 100%;
}
